* {
    padding: 10px;
    column-gap: 20px;
}

body {
    background-color: red;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.f-col {
    flex-direction: column;
}

.container {
    max-width: 1000px;
    flex-basis: 100%;
    background-color: lawngreen;
    margin: 0 auto;
}

.yellow_1 {
    flex-basis: 75%;
    height: 200px;
    background-color: yellow;
}

.yellow_2 {
    flex-basis: 50%;
    height: 200px;
    background-color: yellow;
}

.blue {
    background-color: blue;
    flex-basis: 50%;
    height: 200px;
}

.pink {
    background-color: pink;
    height: 200px;
    /*width: 100%;*/
    margin: 10px;
}

@media (max-width: 540px) {
    .container div {
        flex-basis: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
}

/* Стили для горизонтальной ориентации экрана */
@media only screen and (orientation: landscape) {
    /* Изменение размеров и расположения элементов */
    .yellow_1, .yellow_2, .blue, .pink {
        min-height: 150px;
    }
}

/* Стили для вертикальной ориентации экрана */
@media only screen and (orientation: portrait) {
    /* Изменение размеров и расположения элементов */
    .yellow_1, .yellow_2, .blue, .pink {
        min-height: 400px;
    }
}
